<!DOCTYPE html>
<html>
<head>
  <title>Trendr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Begin Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			</div>
	    	<!-- Collect the nav links, forms, and other content for toggling -->
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    		<ul class="nav navbar-nav navbar-left">
	    			<li><%= image_tag "logocyansmall.PNG" %></li>
	    		</ul>
	      		<ul class="nav navbar-nav navbar-right">
	      			<% if user_signed_in? %>
	      				<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
	  					<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
					<% else %>
	  					<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
	  					<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
					<% end %>
				</ul>
			</div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
	<!-- End Navbar -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
